<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'inserttask' %}" method="post">
        {% csrf_token %}
        <table border="1" style="border-collapse: collapse;">
            <tr>
                <td>task</td>
                <td><input type="text" name="taskname" style="width: 97%;" id=""></td>
            </tr>
            <tr>
                <td>date</td>
                <td><input required type="date" name="date" id=""></td>
            </tr>
            <tr>
                <td>time</td>
                <td><input required type="time" name="time" id=""></td>
            </tr>
            <tr>
                <td>to whom</td>
                <td><select required name="towhom" id="">
                    <option value=""></option>
                    <option value="0">all</option>
                        {% for user in users %}

                       
                        <option value="{{user.id}}">{{user.name}}</option>
                        {% endfor %}
                  
                    </select></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="private" id="private"></td>
                <td><label for="private">private task</label></td>
            </tr>
            <tr>
                <td>descibe briefly</td>
                <td><textarea name="desc" required id="" maxlength="70" cols="20" style="resize: none;" rows="8"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="submit">
    </form>
</body>
<script>
    {% for i in messages %}
    alert('{{i}}')
    {% endfor %}
</script>
</html>