<!DOCTYPE html>
<html>
<style>
    /* Style the table */
    #markasdone {
        padding: 20px;
        background-color: red;
        text-decoration: none;
        color: white;
    }

   



   

    /* Style the first column (TaskName) differently if needed */
    th:first-child,
    td:first-child {
        font-weight: bold;
        background-color: #ddd;
    }
</style>

<body>
    <p>Complete your task</p>
    <table style="border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    background-color: #000;
    padding: 10px;
    color: #fff;">
        <tr style="background-color: #000;">
            <th style=" color: #fff;background-color: #000;
            text-align: left;
            padding: 8px; border-bottom: 1px solid red; font-weight: bold;
            background-color: #000;">TaskName</th>
            <td style=" color: #fff; padding: 8px;border-bottom: 1px solid red; font-weight: bold;
            background-color: #000;">{{ taskname }}</td>
        </tr>
        <tr>
            <th style=" color: #fff;background-color: #000;
            text-align: left;
            padding: 8px; border-bottom: 1px solid red;">Date</th>
            <td style=" color: #fff; padding: 8px;border-bottom: 1px solid red;">{{ date }}</td>
        </tr>
        <tr style="background-color: #000;">
            <th style=" color: #fff;background-color: #000;
            text-align: left;
            padding: 8px; border-bottom: 1px solid red;">Time</th>
            <td style=" color: #fff; padding: 8px;border-bottom: 1px solid red;">{{ time }}</td>
        </tr>
        <tr>
            <th style="  color: #fff;background-color: #000;
            text-align: left;
            padding: 8px; border-bottom: 1px solid red;">Email</th>
            <td style=" color: #fff; padding: 8px;border-bottom: 1px solid red;">{{ email }}</td>
        </tr>
        <tr style="background-color: #000;">
            <th style=" color: #fff;background-color: #000;
            text-align: left;
            padding: 8px; border-bottom: 1px solid red;">Description</th>
            <td style=" color: #fff; padding: 8px;border-bottom: 1px solid red;">{{ desc }}</td>
        </tr>
    </table>
    <br><img src="http://results.skcet.ac.in:610/assets/StudentImage/727722EUAI055.jpg" height="150" width="150" alt=""><br>
    <h1 style="color: red;padding:10px;background-color:black;">{{ name }}</h1>
    <a id="markasdone" style="
    padding: 20px;
    background-color: red;
    text-decoration: none;
    color: white;
    margin-left:25px;
    " href="http://127.0.0.1:8000/tasks/markAsDone/{{taskid}}">markAsDone</a>


</body>

</html>