{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Familyspace</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

{% if not user.is_authenticated %}
<a href="{% url 'register' '\'\'' %}">register</a> <br>
<a href="{% url 'login' %}">login</a> <br>
{% endif %}

{% if user.is_authenticated %}
<span>{{user.name}}</span> <br>
<a href="{% url 'myfamily' %}">myfamily</a> <br>
<a href="{% url 'task' %}">tasks</a> <br>
<a href="{% url 'logout' %}">logout</a> <br>
{% endif %}




</body>
<script>
    {% for i in messages %}
    alert('{{i}}')
    {% endfor %}
</script>
</html>