<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>product</td>
            <td>quantity</td>
            <td>remarks</td>
        </tr>
        {% for pro in products %}
        <tr>
            <td>{{pro.productName}}</td>
            <td>{{pro.quantity}}</td>
            <td>{{pro.remarks}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <p><a href="{% url 'addShopingList' %}">add items</a></p>
</body>
</html>