<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=initial-scale=1.0">
    <title>Task</title>
</head>
<style>
    .checkBoxTd {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
    }

    .checkBoxTd button {
        width: 10px;
        height: 14px;
        border: 1px solid black;
    }
</style>

<body>
    <table border="1" style="border-collapse: collapse;">
        <tr>
            <td>task</td>
            <td>date</td>
            <td>towhom</td>
            <td>time</td>
            <td>desc</td>
            <td>completed</td>
        </tr>
        {% for task in tasks %}

        {% if task.towhom == 'all' and task.iwilldo == None and task.private == False and task.markasdone == False %}
        <tr>

            <td>{{task.taskname}}</td>
            <td>{{task.date}}</td>
            <td>
                {{task.towhom}}
            </td>
            <td>{{task.time}}</td>
            <td>{{task.desc}}</td>
            <td class="checkBoxTd">
                <a href="{% url 'iwilldo' task.id %}">i will do</a>
            </td>
            
        </tr>

        {% elif  task.towhom == towhom and task.private == True and task.markasdone == False %}
        <tr>

            <td>{{task.taskname}}</td>
            <td>{{task.date}}</td>
            <td>
                {{task.towhom}}
            </td>
            <td>{{task.time}}</td>
            <td>{{task.desc}}</td>
            <td class="checkBoxTd">
                <form action="{% url 'markAsDone' task.id %}">
                    <button id="markasdone{{task.id}}" onclick="return confirm('Did you completed the task');"
                        style="background-color:white;border:none;">

                    </button>

                </form>
            </td>
            
        </tr>
            {% elif task.private == False and task.markasdone == False %}
       
        <tr>

            <td>{{task.taskname}}</td>
            <td>{{task.date}}</td>
            <td>
                {{task.towhom}}
                
            </td>
            <td>{{task.time}}</td>
            <td>{{task.desc}}</td>
            <td class="checkBoxTd">
                <form action="{% url 'markAsDone' task.id %}">
                    <button class="markasdone{{task.id}}" onclick="return confirm('Did you completed the task');"
                        style="background-color:white; border:1px solid black;">

                    </button>

                </form>
            </td>

        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <p>
        <br><br>
        <a href="{% url 'addtask' %}">addtask</a> <br>
        <a href="{% url 'completed' %}">completed task</a> <br>
        <a href="{% url 'shopingList' %}">ShopingList</a> <br>
        <a href="{% url 'completedProducts' %}">completedProducts</a> <br>
    </p>
</body>

</html>